.footerMainDiv {
  width: 100%;
  /* height: 400px; */
  /* background-color: red; */
  position: relative;
  display: flex;
  flex-direction: row;
}

.bigImgFooter {
  padding: 100px 0 0 0;
  width: 40%;
  max-width: 360px;
}

.footerRemainingPart {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.footerSideDisplay {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;

  min-width: 150px;
}

.footerSideDisplay > img {
  width: 100%;
}

.footerSideDisplay > p {
  font-family: Migra;
  font-size: calc(3vw);
  font-weight: 800;
  line-height: 39.93px;
  text-align: left;
  position: absolute;
  top: 20%;
  color: white;
  right: 20%;
}

.footerMainLinks {
  width: 80%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 70px 0;
}

.footerMainLinks > div {
  display: flex;
  /* margin: 0 50px 0 50px; */
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: ; */
  height: 100%;
  /* margin:0 100px; */
}

.footerMainLinks > div > a {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 20px 0;
  cursor: pointer;
}

.contactUsLinks {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contactUsLinks > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contactUsLinks > div > button {
  /* margin: 0px 10px ; */
  margin: 0 10px;
}

.contactUsLinks > div > button:last-child {
  margin-right: 0px;
}

.contactUsLinks > div > button > img {
  width: 45px;
}

.contactUsLinks > p {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: right;
  width: 100%;
  padding: 0 0 0 auto;
}

.mobileContactDiv {
  display: none;
}

.desktopContactDiv {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .footerSideDisplay > p {
    font-size: calc(3vw);

    right: 10%;
  }

  .footerMainDiv {
    /* flex-direction: column; */
    flex-direction: column-reverse;
  }

  .bigImgFooter {
    padding: 0;
    margin: 0 auto;
  }

  .footerMainLinks {
    margin: 70px 0;
  }

  .footerMainLinks > div > a {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 10px;
  }
  .desktopContactDiv {
    display: none;
  }

  .mobileContactDiv {
    display: flex;
  }
  .contactUsLinks {
    padding: 10px;
  }

  .contactUsLinks > p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .contactUsLinks > div {
    flex-direction: flex-start;
  }

  .contactUsLinks > div:first-child {
    margin: 0 10px 0 0;
  }

  .contactUsLinks > div > button > img {
    width: 25px;
  }
}

/* footer upper oart */

.footerUpperMainDiv {
  width: 100%;
  padding: 30px 0;
  /* height: 500px; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #195359;
  margin: 0 0 50px 0;
}

.footerUpperMainDiv > h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: white;
}

.jobSelectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px 0;
}

.oneJobContainer {
  box-sizing: border-box;

  max-width: 250px;
  height: 82px;
  margin: 20px 10px;

  background: #ffffff;
  border: 0.5px solid #666666;
  box-shadow: 0px 302px 121px rgba(0, 0, 0, 0.01),
    0px 170px 102px rgba(0, 0, 0, 0.05), 0px 75px 75px rgba(0, 0, 0, 0.09),
    0px 19px 42px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

@media only screen and (max-width: 600px) {

  .footerUpperMainDiv > h2  {
    font-family: Lato;
font-size: 25px;
font-weight: 600;
line-height: 24.38px;
letter-spacing: 0.01em;
text-align: left;

  }
   .oneJobContainer{
    width: 282px;
    height: 49px;
    top: 110px;
    left: 54px;
    padding: 14px 22.5px 14px 21.5px;
    gap: 0px;
    border-radius: 16px;
    border: 0.5px 0px 0px 0px;
    opacity: 0px;
  }
}
