.jobDesMainDiv {
  margin: 100px auto 0;
  padding: 50px 20px;
  /* padding: 50px 100px; */
  position: relative;
}

.companyTopInfo {
  width: 100%;
  /* height: 500px; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.companyTopInfo > div > h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0.02em;
  text-align: left;
}

.companyTopInfo > div > h4 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 500;
  line-height: 50.16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.companyTopInfo > img {
  /* all: unset; */
  /* border: 0px ; */
  width: 150px;
  height: 150px;
  background: #d9d9d9;
  border-radius: 15%;
}

.companytags {
  width: 100%;
  margin: 0 0 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.companytags > label {
  padding: 8px 20px 8px 20px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;

  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;

  color: white;
  margin: 10px 10px;
}

.companytags .experience {
  background: #e1617f;
}

.companytags .location {
  background: #fb8265;
}

.companytags .contract {
  background: #7c8ffd;
}

.companytags .pay {
  background: #1482e4;
}

.companydescription {
  width: 100%;
  /* height: 300px; */
  /* padding: 50px 0 0 0; */
  /* background-color: red; */
}

.companydescription .companyLink > label {
  /* Company Website: xyz.com */

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  /* or 50px */
  letter-spacing: 0.02em;

  color: #000000;
}

.companydescription .companyLink > a {
  padding: 0 0 0 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 152%;
  /* or 50px */
  letter-spacing: 0.02em;

  color: #007cd7;
}

.companyDes {
  padding-top: 20px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.52px;
  letter-spacing: 0.02em;
  text-align: left;
}

.jobApplyBtn {
  margin: min(10%, 50px) 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: #2b838c;
  border-radius: 12px;
  font-family: Lato;
  font-size: 22px;
  font-weight: 600;
  line-height: 33.44px;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
}

.jobApplyBtn > img {
  /* width: 20%; */
}

.comapnyInfoSections {
  width: 100%;
  /* height: 500px; */
  /* background-color: red; */
}

.collpsePart {
  /* Frame 117 */
  cursor: pointer;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: space-between;
  isolation: isolate;
  align-items: center;
  padding: 4px 20px;

  background: rgba(43, 131, 140, 0.3);
  border-radius: 8px;

  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #195359;
}

.collpsePart > img {
  width: 28px;
}

.collaapsible-content {
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.collapsible-inner {
  padding: 1rem;
}

.collapsePartDesign {
  margin: 20px;
}

.collapsePartDesign li,
p {
  font-family: Lato;
  font-size: 23px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000 !important;
}

.collapsePartDesign li::marker {
  color: black;
}

.companyBottomInfo {
  width: 100%;
  /* background-color: red; */
}

.companyBottomInfo p {
  font-family: Lato;
  font-size: 28px;
  font-weight: 600;
  line-height:140%;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 3px 0 ;
}


.companyBottomInfo p>a{
color: #007CD7;
cursor: pointer;

}

.companyBottomInfo  .datee{
  font-family: Lato;
  font-size: 26px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #666666;
  padding: 10px 0;
  
}

@media only screen and (max-width: 866px) {
  .jobDesMainDiv {
    padding: 10px 20px;
  }

  .companyTopInfo > div > h2 {
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 33.44px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .companyTopInfo > div > h4 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 50.16px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .companyTopInfo > img {
    /* all: unset; */
    /* border: 0px ; */
    width: 100px;
    height: 100px;
    background: #d9d9d9;
    border-radius: 15%;
  }

  .companytags > label {
    padding: 8px 20px 8px 20px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;

    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;

    color: white;
    margin: 10px 10px;
  }
  .companydescription {
    /* margin: min(10%,80px) 0; */
    /* background-color: red; */
  }

  .companyDes {
    padding-top: 18px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.52px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .jobApplyBtn {
    padding: 6px 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .jobApplyBtn {
    padding: 6px 10px;

    border-radius: 8px;

    font-size: 17px;
    font-weight: 500;
    line-height: 20.44px;
  }

  .jobApplyBtn > img {
    width: 35px;
  }

  .collpsePart {
    padding: 4px 20px;

    border-radius: 6px;

    font-size: 26px;
    font-weight: 600;
  }

  .collpsePart > img {
    width: 28px;
  }

  .collapsePartDesign li,
  p {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000 !important;
  }

  .companyBottomInfo p {
    font-size: 20px;
  }

  
  .companyBottomInfo  .datee{
    
    font-size: 18px;
    font-weight: 400;
    
    
  }
}

@media only screen and (max-width: 575px) {
  .companyTopInfo > div > h2 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .companyTopInfo > div > h4 {
    font-family: Lato;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .companyTopInfo > img {
    /* all: unset; */
    /* border: 0px ; */
    width: 60px;
    height: 60px;
    background: #d9d9d9;
    border-radius: 15%;
  }

  .companytags > label {
    /* Frame 130 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    /* gap: 10px; */
    font-size: 13px;
    margin: 5px;
    border-radius: 30px;
  }

  .companydescription .companyLink > label {
    font-size: 18px;
  }

  .companydescription .companyLink > a {
    padding: 0 0 0 10px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 152%;
    /* or 50px */
    letter-spacing: 0.02em;

    color: #007cd7;
  }

  .companyDes {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.28px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .jobApplyBtn {
    padding: 6px 8px;

    border-radius: 8px;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.44px;
  }

  .jobApplyBtn > img {
    width: 25px;
  }

  .collpsePart {
    padding: 4px 20px;

    border-radius: 4px;

    font-size: 20px;
    font-weight: 400;
  }

  .collpsePart > img {
    width: 14px;
  }

  .collapsePartDesign li,
  p {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000 !important;
  }

  .collapsePartDesign {
    margin: 10px;
  }

  .companyBottomInfo p {
    font-size: 16px;
  }

  
  .companyBottomInfo  .datee{
    
    font-size: 14px;
    font-weight: 400;
    
    
  }
}
